*{
    margin:0;
    padding:0;
}
#hamburgerIcon{
    position: absolute;
    display: block;
    top:5px;
    left:0%;
    z-index: 2;
    margin: 10px;
}
#main-heading{
    font-size: 3rem;
}
#header{
    position: relative;
}

@media screen  and (max-width:415px){
   
   
    #header{
        height:"30vh"
    }
    .full-width{
        width: 100%;
        align-self:center;
       border: none;
      
    }
    .btn-group{
        flex-direction: column;
    }
   
}
@media screen and (max-width:500px) {
    .main-heading{
        font-size: 1rem;
    }
    #hamburgerIcon{
        font-size: 2px;
    }
}
@media screen  and (max-width:480px){
    #main-heading{
        margin-top: 5%;
        font-size: 1.8rem;
    }
   
        #input{
            width:85%;
        }
        #paragraph-heading,#sub-paragraph-heading{
            font-size: 1.5rem; 
        } 
        #info-events,#info-books,#info-groups{
            font-size: 1.5rem; 
        }
        #main-heading{
           
           }
    
}
@media screen and (max-width:395px){
   
}